<h1>Imported Files</h1>

<table class="table table-striped">
  <thead>
    <th>File name</th>
    <th>File status</th>
    <th>Imported at</th>
  </thead>
  <tbody>
    <% @contact_files.each do |contact_file| %>
      <tr>
        <td><%= link_to contact_file.file.filename, contact_file_path(contact_file) %></td>
        <td>
          <span class="badge bg-<%= process_status(contact_file) %>"><%= contact_file.status %></span>
        </td>
        <td><%= contact_file.created_at %></td>
        <td><%= link_to "View", contact_file_path(contact_file), class: "btn btn-info" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%== pagy_nav(@pagy) %>